name: CMake

on: [push, pull_request, fork, workflow_dispatch]

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
          - os: windows-latest
          - os: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Install (ubuntu)
        if: matrix.os == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libpcap-dev

      - name: Install (macos)
        if: matrix.os == 'macos-latest'
        run: brew install libpcap

      - name: Build
        run: |
          conan build . -s:build_type=Release
          cmake --install build --prefix dist --component tecmp_converter

      - name: Test
        working-directory: build
        run: |
          ctest -C Release --output-on-failure
          git diff --exit-code

      - name: "Upload Artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.os}} artifacts
          path: dist
