name: CMake

on: [push, pull_request, fork]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
          - os: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      run: git submodule update --init --recursive

    - name: Install (ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libpcap-dev
        
    - name: Install (windows)
      if: matrix.os == 'windows-latest'
      run: choco install winpcap
        
    - name: Install (macos)
      if: matrix.os == 'macos-latest'
      run: brew install libpcap

    - name: Create Build Environment
      run: cmake -E make_directory build

    - name: Configure CMake
      working-directory: build
      run: cmake .. -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      working-directory: build
      run: cmake --build . --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: build
      run: |
        ctest -C ${{env.BUILD_TYPE}} --output-on-failure
        git diff --exit-code
